# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env
.env.local
.env.production

# Build output
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*

# Lock files
package-lock.json
**/package-lock.json

# Editor
.vscode/*
.idea
.DS_Store